/* --------------ROOT------------- */
:root {
  --creme: #f2ede2;
  --blue: #002b84;
  --orange: #ff5b00;
  --purple: #b3a8f3;
  --pink: #f63fb8;
  --green: #008111;
  --lehavre: le-havre, sans-serif;
  --gastro: gastromond, sans-serif;
  --helvetica: Arial, Helvetica, sans-serif;
}

/* --------------BODY-------------- */

body {
  background-color: var(--creme);
  color: var(--blue);
}

main {
  margin-top: 200px;
}

p,
li {
  font-variant: var(--helvetica);
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}

h2,
h3 {
  font-family: var(--gastro);
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-family: var(--lehavre);
}

/* -----------HEADER-------------- */
.navbar {
  background-color: var(--creme);
}

.nav-img {
  width: 400px;
}

.navbar-brand {
  margin: auto;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .bar {
}

.navbar-toggler-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bar {
  background-image: url(images/bar.svg);
  background-repeat: none;
  height: 3px;
  width: 30px;
  background-size: contain;
}

.bar.one {
  transform: translate(-11px, 0);
  animation: 2s;
  transition: 0.5s;
}

.bar.two {
  transform: translate(0px, 0);
  animation: 2s;
  transition: 0.5s;
}

.bar.three {
  transform: translate(-9px, 0);
  animation: 2s;
  transition: 0.5s;
}

.navbar-toggler[aria-expanded="true"] .bar.one {
  transform: rotate(45deg);
  transition: 0.5s;
}

.navbar-toggler[aria-expanded="true"] .bar.two {
  opacity: 0;
  transition: 0.5s;
}

.navbar-toggler[aria-expanded="true"] .bar.three {
  transform: rotate(-45deg) translate(7px, -7px);
  transition: 0.5s;
}

.navbar-toggler[aria-expanded="true"] .navbar .fixed-top {
  box-shadow: 0px 0px 2px grey;
}

.nav-link {
  color: var(--blue);
  font-family: var(--lehavre);
  font-size: 2rem;
}

.nav-link:hover {
  color: var(--orange);
}

.navbar-nav {
  margin-left: 50px;
  margin: auto;
}

#navbarNavAltMarkup {
  background-color: none;
}

.blue-shadow {
  box-shadow: 0px 0px 10px grey;
}

/* ---------------TYPING--------------- */

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 17ch;
  animation: typing 1s steps(17), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: var(--blue);
  align-self: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ------------HELLO------------ */

#hello {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 30px;
  flex-shrink: 1;
  flex-wrap: wrap;
}

#hello img {
  max-width: 400px;
}

#aboutme {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  font-size: 1.5rem;
}

.href_here {
  margin-top: -100px;
  position: absolute;
}

/* ---------------GROW UP--------------- */

#grow_up {
  max-width: 90%;
  margin: auto;
  margin-top: 50px;
}
#grow_up h2 {
  padding-top: 20px;

  text-align: center;
}

#idols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.idol {
  width: 270px;
  height: 270px;
  box-shadow: 0px 0px 2px var(--blue);
  margin-right: 50px;
  margin-bottom: 50px;
}

/* ------------FORREST------------ */

#forrest {
  background-image: url("images/forrest.jpg");
  width: 100%;
  min-height: 400px;
  padding-top: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#forrest h3 {
  text-align: center;
  color: var(--purple);
  max-width: 750px;
  margin: auto;
}

/* -----------I KNOW & I WANNA LEARN----------- */
#iknow_iwanna {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px;
  width: 70%;
}

#iknow {
  text-align: center;
}

#iknowdivs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.iknowdiv {
  width: 400px;
  padding: 20px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.iknowdiv ul {
  width: 400px;
  display: flex;
  list-style: inherit;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 230px;
  text-align: left;
}

.iknowdiv li {
  max-width: 140px;
}

.iknowdiv img {
  max-height: 250px;
}

/* -------------PROJECTS------------- */

#projects {
  max-width: 70%;
  margin: auto;
  padding-top: 20px;
}

.project_div {
  width: 95%;
  border: solid var(--blue) 2px;
  margin: auto;
  margin-bottom: 40px;
  padding: 40px;
  display: flex;
}
.project_div img {
  max-width: 50%;
  align-self: center;
  margin-bottom: 20px;
}

.project_div_text {
  margin-right: 20px;
}

/* -------------FOOTER------------- */

footer {
  border-top: var(--blue) 1px solid;
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

#lovelyday {
  padding: 10px;
}

#credit {
  color: var(--purple);
  text-align: center;
  font-size: 0.5rem;
}

/* -----------MEDIA QUERIES----------- */

@media screen and (max-width: 1250px) {
  #iknow_iwanna {
    width: 90%;
  }
  #projects {
    width: 90%;
  }

  .project_div {
    width: 100%;
    flex-wrap: wrap-reverse;
  }
  .project_div img {
    max-width: 100%;

    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .nav-img {
    width: 300px;
  }
}
